<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350893640191-j0lgqthhnmtvt65poq83j20gvnj2v9b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350893640191-j0lgqthhnmtvt65poq83j20gvnj2v9b9</string>
	<key>API_KEY</key>
	<string>AIzaSyDnleS2esLns9X7TsB9lqNcqdBIkqTwz8o</string>
	<key>GCM_SENDER_ID</key>
	<string>350893640191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swalih.test.AllFlights2</string>
	<key>PROJECT_ID</key>
	<string>all-flights-853fc</string>
	<key>STORAGE_BUCKET</key>
	<string>all-flights-853fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350893640191:ios:50e2ebcc6c95192659bfca</string>
</dict>
</plist>